<form action="/deletar_usuario/:id" method="post" style="margin-top:20px; padding:5%">
<label>ID</label>
<input type="text" placeholder="ID" name="id"></input><br>
<button type="submit">Cadastrar usuário</button>
</form>